<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Tom e Jerry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE O DESENHO</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Animação e comédia</t></P>
  <p>120 episódios</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/mJNkpn7LVJAW2O03BaSDZ0QjmM4.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/nY0avJBhH36YbY1AsO2IbgWeQ3w.jpg">
      <p>O centro da trama se baseia geralmente em tentativas frustradas de Tom de capturar Jerry, e o caos e a destruição que se segue. Tom raramente consegue capturar Jerry, principalmente por causa das habilidades do engenhoso ratinho, e também por causa de sua própria estupidez. As perseguições eram eletrizantes e sempre vinham acompanhados por boa trilha sonora. Também eram utilizadas diversas armadilhas e truques que no final não davam resultado satisfatório como bombas e ratoeiras, coisas que eram fundamentais na rivalidade entre o gato e o rato.

      </p>
    </div>


<ion-card>
  <ion-item color="danger">
<div class="info ion-text-center">
  ELENCO PRINCIPAL
</div>
</ion-item>
</ion-card> 

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>Alan Oppenheim</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/5UAa7wSnoh6JwiAKciCCKB9dnro.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Dan Castellaneta</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/AmeqWhP4A46AWkM4kVphg6jOTQX.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Jean Vander Pyl</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/6quvsMcC4ZgvVUUc6AUJqu8PxGp.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Lennie Weinrib</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/6mqjIGLg9bbolPAGrM2UPB9kuMK.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>

<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO DESENHO</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p71 green">
  <span>71%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>