<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Atypical</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE A SÉRIE</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Drama e comédia</t></P>
  <p>3 temporadas</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/kNif3eZAjQ7qU3Ol9E7zo0kjPMo.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/9OkuEgUebqBFJKyQu9cxUd4dd4B.jpg">
      <p>Quando um adolescente com traços de autismo resolve arrumar uma namorada, sua busca por independência coloca a família toda em uma aventura de autodescoberta.</p>
    </div>


<ion-card>
  <ion-item color="danger">
<div class="info ion-text-center">
  <h5>ELENCO PRINCIPAL</h5> 
</div>
</ion-item>
</ion-card> 

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>Keir Gilchrist</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/vFrziqS1PDoHYFs2Vn9ro3577Ry.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Jennifer Jason</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/7CpqvYVCI6Sq07zgQYxHRydevpk.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Michael Rapaport</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/wwU5txjrn8hjC8ALtIbyQykOPVk.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Brigette Lundy</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/88nq2n9o1e9Qjfz6rmbvfi184W.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>

<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO FILME</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p80 green">
  <span>80%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>