<ion-header>
  <ion-toolbar color="warning">
    <ion-title>1917</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE O DESENHO</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Animação mistério e comédia</t></P>
  <p>30 temporadas</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/fjeuHAHmOzXrWTkEgi27cBc0Sa1.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/nAYT2C2IqZ5dlufEre58lVZj4W.jpg">
      <p>Os personagens típicos do desenho eram mostrados em sua infância, mas sempre às voltas com casos misteriosos.O desenho, baseado no Scooby-Doo, Cadê Você?, com todas as características, um grupo constituído por quatro adolescentes metidos a detetives (Fred, Velma, Daphne e Salsicha) e o cão dogue alemão chamado Scooby-Doo, viajam num furgão psicodélico chamado Máquina Mistério, e ajudam a investigar casos misteriosos (através da empresa Misterios S.A.). Visitam lugares inóspitos, casas mal-assombradas, parques abandonados, pântanos e ilhas, ameaçados por fantasmas, múmias, monstros e terríveis vilões.

      </p>
    </div>


<ion-card>
  <ion-item color="danger">
<div class="info ion-text-center">
  ELENCO PRINCIPAL
</div>
</ion-item>
</ion-card> 

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>Frank Welker</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/b3gImArbw13mMKJIe9leFc9YYb7.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Casey Kasem</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/59kecPxxPIO8uwzaRZAOSDE1l80.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Tress MacNeille</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/mE8Fm9NKpCJTenzMNLB65imtvUS.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Matthew Lillard</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/gXOanRx8ebM5jL9ZN9clKfFlQL0.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>

<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO DESENHO</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p65 green">
  <span>65%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>