<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Breaking Bad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE A SÉRIE</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Drama</t></P>
  <p>5 temporadas</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/30erzlzIOtOK3k3T3BAl1GiVMP1.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg">
      <p>Ao saber que tem câncer, um professor passa a fabricar metanfetamina pelo futuro da família, mudando o destino de todos.</p>
    </div>


<ion-card>
  <ion-item color="danger">
<div class="info ion-text-center">
  <h5>ELENCO PRINCIPAL</h5> 
</div>
</ion-item>
</ion-card> 

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>Bryan Cranston</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/aGSvZg7uITJveQtGHDcPNI6map1.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Aaron Paul</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/u8UdsB9yenM4uHEjmce4nkBn48X.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Anna Gunn</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/adppyeu1a4REN3khtgmXusrapFi.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Dean Norris</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/yV3DZ52LYRf5F605xRas5BEcJrZ.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>

<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO FILME</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p86 green">
  <span>86%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>