<ion-header>
  <ion-toolbar color="warning">
    <ion-title>O poço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE O FILME</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Drama e ficção científica</t></P>
  <p>1h 35m</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/kY0ET33EoiJhjaPCzzvywCDqP6b.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/3tkDMNfM2YuIAJlvGO6rfIzAnfG.jpg">
      <p>Em uma prisão onde os detentos nos andares de cima comem melhor do que os que estão abaixo, um homem decide fazer algo para mudar essa situação.</p>
    </div>


<ion-card>
  <ion-item color="danger">
<div class="info ion-text-center">
  <h5>ELENCO PRINCIPAL</h5> 
</div>
</ion-item>
</ion-card> 

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>Ivan Massagué</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/9DzlHyJ4aLcoslejWNDx90CWmJu.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Zorion Eguileor</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/nN75avFiNDJGyKWFLnuk1aJDVph.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Alexa Masangkay</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/iwbCGsSwxkBgJFs90F2PCHJsGpP.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Zihara Llana</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/mz2qYMU8xZZC0pbT7OVy7mU8NG0.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>


<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO FILME</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p71 green">
  <span>71%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>