<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="dark">
    <ion-card-header routerLink="/breaking-bad">
     <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg">
    </ion-card-header>
  
   <ion-item color="dark">
<h1> Breaking Bad <span>(2008)</span></h1>
   </ion-item>
   
   <ion-item color="medium">
<div class="info ion-text-center">
  <span class="tipo">TV-MA</span> <span class="duracao">50min</span>
  <p>Drama</p>
</div>
  </ion-item>

  <ion-item color="dark">

    <div>
      <h2>Sinopse</h2>
      <p>Ao saber que tem câncer, um professor passa a fabricar metanfetamina pelo futuro da família, mudando o destino de todos.</p>
    </div>
  </ion-item>
</ion-card>

<ion-card color="dark">
  <ion-card-header routerLink="/atypical">
    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/9OkuEgUebqBFJKyQu9cxUd4dd4B.jpg">
   </ion-card-header>
 
  <ion-item color="dark">
<h1> Atypical <span>(2017)</span></h1>
  </ion-item>
  <ion-item color="medium">
<div class="info ion-text-center">
 <span class="tipo">TV-14</span> <span class="duracao">33min</span>

 <p>Drama e comédia</p>
</div>
 </ion-item>
 <ion-item color="dark">

   <div>
     <h2>Sinopse</h2>
     <p>Sam, um jovem de 18 anos no espectro do autismo, segue uma jornada engraçada, mas dolorosa, de autodescoberta por amor e independência e ofende sua família.</p>
   </div>
 </ion-item>

  </ion-card>
</ion-content>
