<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="dark">
    <ion-card-header>
     <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg">
    </ion-card-header>
  
   <ion-item color="dark">
<h1> Breaking Bead <span>(2008)</span></h1>
   </ion-item>
   <ion-item color="medium">
<div class="info ion-text-center">
  <span class="tipo">TV-MA</span> <span class="duracao">50min</span>

  <p>Drama</p>
</div>
  </ion-item>
  <ion-item color="dark">

    <div>
      <h2>Sinopse</h2>
      <p>Ao saber que tem câncer, um professor passa a fabricar metanfetamina pelo futuro da família, mudando o destino de todos.</p>
    </div>
  </ion-item>
  </ion-card>
</ion-content>
