<ion-header>
  <ion-toolbar color="warning">
    <ion-title>1917</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
<div class="info ion-text-center">
  <h5>SOBRE O FILME</h5>
</div>
<div>
  <ion-card>
  <ion-item color="medium">
    <div class="info ion-text-center">
  <P><t>Guerra, Ação e História</t></P>
  <p>1h 59m</p>
  <img src="https://image.tmdb.org/t/p/w220_and_h330_face/8KkyXE7Hd9MPOOkORxkMM6SUXAB.jpg">
  <ion-button color="danger" size="small">ASSISTIR</ion-button>
    </div>
  </ion-item>
  </ion-card>
</div>



    <div class="info ion-text-center">
      <h5>Sinopse</h5>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/2lBOQK06tltt8SQaswgb8d657Mv.jpg">
      <p>Os cabos Schofield (George MacKay) e Blake (Dean-Charles Chapman) são jovens soldados britânicos durante a Primeira Guerra Mundial. Quando eles são encarregados de uma missão aparentemente impossível, os dois precisam atravessar território inimigo, lutando contra o tempo, para entregar uma mensagem que pode salvar cerca de 1600 colegas de batalhão.</p>
    </div>

<div>
<ion-card>
  <ion-item color="danger">
    <div class="info ion-text-center">
      <p>ELENCO PRINCIPAL</p>
    </div>
</ion-item>
</ion-card> 
</div>

<ion-grid>
 <ion-row>

   <ion-col>
    <div class="info ion-text-center">
     <p>George MacKay</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/3igGY57QsdJPTChto3ZBDT9vXTg.jpg">
   </ion-col>

   <ion-col>
    <div class="info ion-text-center">
     <p>Dean-Charles</p>
    </div>
     <img src="https://image.tmdb.org/t/p/w138_and_h175_face/A3UGnYH7ESTBwEjWBFev7MhvBsB.jpg">
   </ion-col>
   
 </ion-row>

 <ion-row>

  <ion-col>
    <div class="info ion-text-center">
    <p>Mark Strong</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/pw6AvwaBbr44Nje9JQMBBwhchiu.jpg">
  </ion-col>

  <ion-col>
    <div class="info ion-text-center">
    <p>Claire Duburcq</p>
    </div>
    <img src="https://image.tmdb.org/t/p/w138_and_h175_face/qS6WwLJb8GlYcIV5Cj16J3RJDE3.jpg">
  </ion-col>
  
</ion-row>
</ion-grid>

<div class="info ion-text-center">
  <h5>AVALIAÇÃO DO FILME</h5>
</div>
<div></div>

<ion-item lines="empty">
  <ion-thumbnail slot="start">
    <img src="https://img.icons8.com/cotton/2x/groups.png">
  </ion-thumbnail>

  <ion-label>
    <p>Usuários</p>
  </ion-label>

<div slot="end" class="c100 p79 green">
  <span>79%</span>
  <div class ="slice">
    <div class="bar"></div>
    <div class="fill"></div>
  </div>
</div>
</ion-item>

<div>

</div>

</ion-content>